.vuHotel {
  min-height: calc(100vh - 300px);
  padding-inline: 1.6rem;
  padding-block: 5rem;
}

.vuHotelContainer {
  max-width: 1024px;
  margin-inline: auto;
  width: 100%;
}

.vuHotelContainer .btnContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.vuHotel .btnContainer button {
  background-color: var(--mainColor);
  padding: 8px 10px;
  color: var(--grayColor);
  width: max-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.vuHotelForm .formContainer {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-inline: auto;
}

.vuHotelForm .formContainer > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.vuHotelForm .inputField .MuiOutlinedInput-root,
.vuHotel .MuiFormControl-root {
  font-size: 1.6rem;
  width: 100%;
  display: block;
  color: var(--mainColor);
  text-transform: capitalize;
}

.vuHotelForm .inputField label {
  font-size: 1.6rem;
  color: var(--mainColor);
}

.vuHotelForm .inputField .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--mainColor);
}

.vuHotelForm .inputField .MuiFormHelperText-root {
  color: red;
  font-size: 1.6rem;
}

.vuHotelForm .inputField .MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: var(--mainColor);
  text-transform: capitalize;
}

.vuHotel .MuiFormControl-root legend {
  font-size: 1.7rem;
  color: var(--mainColor);
}

.featuredRadioOption .MuiSvgIcon-root {
  font-size: 2.2rem;
  color: var(--mainColor);
}

.featuredRadioLabel .MuiFormControlLabel-label {
  font-size: 1.7rem;
  color: var(--mainColor);
}

.MuiFormControlLabel-label.Mui-disabled {
  -webkit-text-fill-color: var(--mainColor);
}

.vuHotelForm .imgUpload {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: flex-start;
}

.vuHotel .imgUpload > span:nth-of-type(1) {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: flex-center;
  gap: 1rem;
  border: 1px solid #b4b4b4;
  padding: 5px 10px;
  border-radius: 5px;
}
.vuHotel .imgUpload > span:nth-of-type(1) > * {
  cursor: pointer;
}
.vuHotelForm .previewImg > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--mainColor);
}

.vuHotelForm button {
  display: block;
  background-color: var(--mainColor);
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--grayColor);
  margin-inline: auto;
  margin-top: 3rem;
}

.vuHotelForm button:disabled {
  background-color: var(--secColor);
  color: var(--mainColor);
}

.imageList.MuiBox-root {
  max-width: 100%;
  width: 100%;
}

.imageList .fa-xmark {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  color: red;
  padding: 4px 6px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 550px) {
  .vuHotelForm .formContainer {
    flex-direction: column;
  }
}
